@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');
/* font family: Barlow Semi Condensed */

/* 1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity
font weights: 500, 600 */

:root{
--Moderate_violet: hsl(263, 55%, 52%);
--Very_dark_grayish_blue: hsl(217, 19%, 35%);
--Very_dark_blackish_blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
--Light_gray: hsl(0, 0%, 81%);
--Light_grayish_blue: hsl(210, 46%, 95%);
font-size: 13px;
font-family: Barlow Semi Condensed;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  